    body {
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      padding: 40px;
    }

    h1 {
      text-align: center;
    }


    select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
    
    .container {
      max-width: 400px;
      margin: auto;
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
    }

    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      background: #2e86de;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: #1b4f72;
    }

    .result {
      margin-top: 20px;
      background: #eaf2f8;
      padding: 15px;
      border-radius: 5px;
    }
